body {
    background: #F8A017;
    font-family: sans-serif;
    overflow-y: scroll; 
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}


/*
 *  STYLE 1
 */

 body::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 body::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 body::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #212121;
 }


h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

#configDiv {
    width: 300px;
    height: 405px;
    top: 20%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

input[type=checkbox] {
    display: none;
}

label {
    background: #212121;
    height: 69px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #2C3E50;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

label h3 span {
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    color: #bdc3c7;
}

/* using .checkboxInputLabel to capture all except notesPanelWidth slider 
(don't wanna make a circle beside it since its not a checkbox) */
.checkboxInputLabel:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 30%;
    transition: border 0.2s ease
}


#serverCompletionStatus:checked ~ label[for=serverCompletionStatus],
#notesPanel:checked ~ label[for=notesPanel],
#announcement:checked ~ label[for=announcement],
#acceptanceRate:checked ~ label[for=acceptanceRate],
#difficulty:checked ~ label[for=difficulty],
#lockedQuestions:checked ~ label[for=lockedQuestions],
#resultCountNode:checked ~ label[for=resultCountNode],
#solvedDifficultyCounts:checked ~ label[for=solvedDifficultyCounts] {
    background: #2C3E50;
    border-bottom: 1px solid #212121;
    color: #F8A017;
}

#serverCompletionStatus:checked ~ label[for=serverCompletionStatus] h3 span,
#notesPanel:checked ~ label[for=notesPanel] h3 span,
#announcement:checked ~ label[for=announcement] h3 span,
#acceptanceRate:checked ~ label[for=acceptanceRate] h3 span,
#difficulty:checked ~ label[for=difficulty] h3 span,
#lockedQuestions:checked ~ label[for=lockedQuestions] h3 span,
#resultCountNode:checked ~ label[for=resultCountNode] h3 span,
#solvedDifficultyCounts:checked ~ label[for=solvedDifficultyCounts] h3 span {
    color: #F8A017;
}



#serverCompletionStatus:checked ~ label[for=serverCompletionStatus]:before,
#notesPanel:checked ~ label[for=notesPanel]:before,
#announcement:checked ~ label[for=announcement]:before,
#acceptanceRate:checked ~ label[for=acceptanceRate]:before,
#difficulty:checked ~ label[for=difficulty]:before,
#lockedQuestions:checked ~ label[for=lockedQuestions]:before,
#resultCountNode:checked ~ label[for=resultCountNode]:before,
#solvedDifficultyCounts:checked ~ label[for=solvedDifficultyCounts]:before {
    background: #F8A017;

}

#notesPanelWidth {
    direction: rtl
}

/* RANGE SLIDER */ 
#notesPanelWidthSliderSpan {
    padding-top: 5%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50 !important;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #F8A017 !important;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #F8A017 !important;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50 !important;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #F8A017 !important;
}
.range-slider__range:active::-moz-range-thumb {
    background: #F8A017 !important;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #F8A017 !important;
}
.range-slider__value {
    content: "";
    width: 20px;
    float:right;
    position: absolute;
    right: 40px;
    top: 40%;
    color: #fff;
    font-size: 1.1em;
    font-family: sans-serif;
}